{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://harvestapi.net/api"
    }
  ],
  "security": [
    {
      "ApiKeyAuthHeader": []
    }
  ],
  "paths": {
    "/linkedin/profile": {
      "get": {
        "summary": "Get the LinkedIn profile of the user",
        "description": "Get the LinkedIn profile of the user. Required at least one of the query parameters",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URL of the LinkedIn profile (optional)",
            "schema": {
              "type": "string",
              "format": "url"
            }
          },
          {
            "name": "publicIdentifier",
            "in": "query",
            "description": "Public identifier of the LinkedIn profile (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "profileId",
            "in": "query",
            "description": "ID of the LinkedIn profile (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "element": {
                      "$ref": "#/components/schemas/Profile"
                    },
                    "status": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "publicIdentifier": {
                          "type": "string"
                        },
                        "profileId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin/profile-search": {
      "get": {
        "summary": "Search LinkedIn profiles",
        "description": "Search LinkedIn profiles by name, company, location, and more",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "required": true,
            "description": "Search profiles by name",
            "schema": {
              "type": "string",
              "format": "url"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "required": false,
            "description": "Filter by company ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Filter by location text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geoId",
            "in": "query",
            "description": "Filter by location as LinkedIn Geo ID. Overrides the location query param. Use the /linkedin/geo-id-search endpoint to find the Geo ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number, use for pagination",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Profile search response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProfileShort"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "status": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "search": {
                          "type": "string"
                        },
                        "companyId": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "geoId": {
                          "type": "string"
                        },
                        "page": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin/company": {
      "get": {
        "summary": "Get the LinkedIn company",
        "description": "Get the LinkedIn company. Required at least one of the query parameters",
        "parameters": [
          {
            "name": "url",
            "in": "query",
            "description": "URL of the LinkedIn company (optional)",
            "schema": {
              "type": "string",
              "format": "url"
            }
          },
          {
            "name": "universalName",
            "in": "query",
            "description": "Universal name of the LinkedIn company profile, can be found in URL (optional)",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Company profile response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "element": {
                      "$ref": "#/components/schemas/Company"
                    },
                    "status": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        },
                        "universalName": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin/company-search": {
      "get": {
        "summary": "Search LinkedIn companies",
        "description": "Retrieve a list of LinkedIn companies matching the specified search criteria.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Keywords to search for in company names.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Filter companies by location.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geoId",
            "in": "query",
            "description": "Filter by location as LinkedIn Geo ID. Overrides the location query param. Use the /linkedin/geo-id-search endpoint to find the Geo ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination.",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A list of companies matching the search criteria.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CompanyShort"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "status": {
                      "type": "string",
                      "description": "Status of the response."
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message, if any."
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "search": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "geoId": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized access.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin/job": {
      "get": {
        "summary": "Get the LinkedIn job details",
        "description": "Get the LinkedIn job details by job ID or URL.",
        "parameters": [
          {
            "name": "jobId",
            "in": "query",
            "description": "ID of the LinkedIn job (optional)",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "url",
            "in": "query",
            "description": "URL of the LinkedIn job (optional)",
            "schema": {
              "type": "string",
              "format": "url"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job details response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "element": {
                      "$ref": "#/components/schemas/Job"
                    },
                    "status": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "jobId": {
                          "type": "string"
                        },
                        "url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/linkedin/job-search": {
      "get": {
        "summary": "Search LinkedIn jobs",
        "description": "Search LinkedIn jobs by title, company, location, and more.",
        "parameters": [
          {
            "name": "search",
            "in": "query",
            "description": "Search jobs by title",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "companyId",
            "in": "query",
            "description": "Filter by company ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "location",
            "in": "query",
            "description": "Filter by location text",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "geoId",
            "in": "query",
            "description": "Filter by location as LinkedIn Geo ID. Overrides the location query param. Use the /linkedin/geo-id-search endpoint to find the Geo ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort by field. Supported values: 'relevance', 'date'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "workplaceType",
            "in": "query",
            "description": "Filter by workplace type. Supported values: 'office', 'hybrid', 'remote'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "postedLastMonth",
            "in": "query",
            "description": "Filter by jobs only posted in the last month. Supported values: 'true', 'false'",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number for pagination",
            "schema": {
              "type": "integer",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Job search response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "elements": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/JobShort"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "$ref": "#/components/schemas/Pagination"
                    },
                    "status": {
                      "type": "string"
                    },
                    "error": {
                      "type": "string"
                    },
                    "query": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string"
                        },
                        "companyId": {
                          "type": "string"
                        },
                        "location": {
                          "type": "string"
                        },
                        "geoId": {
                          "type": "string"
                        },
                        "sortBy": {
                          "type": "string"
                        },
                        "workplaceType": {
                          "type": "string"
                        },
                        "postedLastMonth": {
                          "type": "string"
                        },
                        "page": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Pagination": {
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "format": "int32"
          },
          "totalElements": {
            "type": "integer",
            "format": "int32"
          },
          "pageNumber": {
            "type": "integer",
            "format": "int32"
          },
          "previousElements": {
            "type": "integer",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "format": "int32"
          }
        }
      },
      "Profile": {
        "required": ["publicIdentifier"],
        "type": "object",
        "properties": {
          "publicIdentifier": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "firstName": {
            "type": "string"
          },
          "headline": {
            "type": "string"
          },
          "about": {
            "type": "string"
          },
          "photo": {
            "type": "string"
          },
          "registeredAt": {
            "type": "string",
            "format": "date-time"
          },
          "topSkills": {
            "type": "string"
          },
          "connectionsCount": {
            "type": "integer",
            "format": "int32"
          },
          "followerCount": {
            "type": "integer",
            "format": "int32"
          },
          "openToWork": {
            "type": "boolean"
          },
          "hiring": {
            "type": "boolean"
          },
          "location": {
            "type": "object",
            "properties": {
              "preferredGeoPlace": {
                "type": "string",
                "format": "nullable"
              },
              "countryCode": {
                "type": "string"
              },
              "postalCode": {
                "type": "string",
                "format": "nullable"
              },
              "country": {
                "type": "string"
              },
              "countryFull": {
                "type": "string"
              }
            }
          },

          "currentPosition": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "companyName": {
                  "type": "string"
                }
              }
            }
          },
          "experience": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "companyName": {
                  "type": "string"
                },
                "duration": {
                  "type": "string"
                },
                "position": {
                  "type": "string"
                },
                "location": {
                  "type": "string"
                },
                "companyLink": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "startDate": {
                  "type": "string"
                },
                "endDate": {
                  "type": "string"
                },
                "employmentType": {
                  "type": "string"
                }
              }
            }
          },
          "education": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "link": {
                  "type": "string"
                },
                "degree": {
                  "type": "string"
                },
                "startDate": {
                  "type": "string"
                },
                "endDate": {
                  "type": "string"
                }
              }
            }
          },
          "certificates": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "issuedAt": {
                  "type": "string"
                },
                "issuedBy": {
                  "type": "string"
                },
                "issuedByLink": {
                  "type": "string"
                }
              }
            }
          },
          "receivedRecommendations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "givenBy": {
                  "type": "string"
                },
                "givenAt": {
                  "type": "string"
                },
                "givenByLink": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "skills": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                }
              }
            }
          },
          "languages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "language": {
                  "type": "string"
                },
                "proficiency": {
                  "type": "string"
                }
              }
            }
          },
          "projects": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                }
              }
            }
          },
          "publications": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "title": {
                  "type": "string"
                },
                "publishedAt": {
                  "type": "string"
                },
                "description": {
                  "type": "string"
                },
                "link": {
                  "type": "string"
                }
              }
            }
          },
          "featured": {
            "type": "object",
            "properties": {
              "images": {
                "type": "array",
                "items": {
                  "type": "string",
                  "format": "url"
                }
              },
              "link": {
                "type": "string"
              },
              "title": {
                "type": "string"
              },
              "subtitle": {
                "type": "string"
              }
            }
          },
          "verified": {
            "type": "boolean"
          }
        }
      },
      "ProfileShort": {
        "required": ["publicIdentifier"],
        "type": "object",
        "properties": {
          "publicIdentifier": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "position": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "url": {
            "type": "string"
          }
        }
      },
      "Company": {
        "required": ["universalName"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "universalName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "tagline": {
            "type": "string"
          },
          "website": {
            "type": "string"
          },
          "linkedinUrl": {
            "type": "string"
          },
          "logoUrl": {
            "type": "string"
          },
          "foundedOn": {
            "type": "object",
            "properties": {
              "month": {
                "type": "string",
                "format": "nullable"
              },
              "year": {
                "type": "integer",
                "format": "int32"
              },
              "day": {
                "type": "string",
                "format": "nullable"
              }
            }
          },
          "employeeCount": {
            "type": "integer",
            "format": "int32"
          },
          "employeeCountRange": {
            "type": "object",
            "properties": {
              "start": {
                "type": "integer",
                "format": "int32"
              },
              "end": {
                "type": "integer",
                "format": "int32"
              }
            }
          },
          "followerCount": {
            "type": "integer",
            "format": "int32"
          },
          "description": {
            "type": "string"
          },
          "headquarter": {
            "type": "object",
            "properties": {
              "geographicArea": {
                "type": "string"
              },
              "city": {
                "type": "string"
              },
              "country": {
                "type": "string"
              },
              "postalCode": {
                "type": "string"
              },
              "line2": {
                "type": "string",
                "format": "nullable"
              },
              "line1": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "parsed": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "regionCode": {
                    "type": "string",
                    "format": "nullable"
                  },
                  "country": {
                    "type": "string"
                  },
                  "countryFull": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "locations": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "localizedName": {
                  "type": "string"
                },
                "headquarter": {
                  "type": "boolean"
                },
                "description": {
                  "type": "string",
                  "format": "nullable"
                },
                "country": {
                  "type": "string"
                },
                "geographicArea": {
                  "type": "string"
                },
                "city": {
                  "type": "string"
                },
                "postalCode": {
                  "type": "string",
                  "format": "nullable"
                },
                "line2": {
                  "type": "string",
                  "format": "nullable"
                },
                "line1": {
                  "type": "string"
                }
              }
            }
          },
          "specialities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "industry": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "logos": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "width": {
                  "type": "integer",
                  "format": "int32"
                },
                "height": {
                  "type": "integer",
                  "format": "int32"
                },
                "expiresAt": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "backgroundCovers": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "url": {
                  "type": "string"
                },
                "width": {
                  "type": "integer",
                  "format": "int32"
                },
                "height": {
                  "type": "integer",
                  "format": "int32"
                },
                "expiresAt": {
                  "type": "integer",
                  "format": "int64"
                }
              }
            }
          },
          "active": {
            "type": "boolean"
          },
          "jobSearchUrl": {
            "type": "string"
          },
          "phone": {
            "type": "string",
            "format": "nullable"
          },
          "crunchbaseFundingData": {
            "type": "object",
            "properties": {
              "numberOfFundingRounds": {
                "type": "integer",
                "format": "int32"
              },
              "lastFundingRound": {
                "type": "object",
                "properties": {
                  "localizedFundingType": {
                    "type": "string"
                  },
                  "leadInvestors": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {}
                    }
                  },
                  "moneyRaised": {
                    "type": "object",
                    "properties": {
                      "amount": {
                        "type": "string"
                      },
                      "currencyCode": {
                        "type": "string"
                      }
                    }
                  },
                  "fundingRoundUrl": {
                    "type": "string"
                  },
                  "announcedOn": {
                    "type": "object",
                    "properties": {
                      "month": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "year": {
                        "type": "integer",
                        "format": "int32"
                      },
                      "day": {
                        "type": "integer",
                        "format": "int32"
                      }
                    }
                  },
                  "numberOfOtherInvestors": {
                    "type": "integer",
                    "format": "int32"
                  },
                  "investorsUrl": {
                    "type": "string"
                  }
                }
              },
              "organizationUrl": {
                "type": "string"
              },
              "updatedAt": {
                "type": "integer",
                "format": "int32"
              },
              "fundingRoundsUrl": {
                "type": "string"
              }
            }
          },
          "pageVerified": {
            "type": "boolean"
          }
        }
      },
      "CompanyShort": {
        "required": ["universalName"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "industry": {
            "type": "string"
          },
          "location": {
            "type": "string"
          },
          "followers": {
            "type": "string"
          },
          "summary": {
            "type": "string"
          },
          "logo": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "universalName": {
            "type": "string"
          }
        }
      },
      "Job": {
        "required": ["id"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "jobState": {
            "type": "string"
          },
          "postedDate": {
            "type": "string",
            "format": "date-time"
          },
          "descriptionText": {
            "type": "string"
          },
          "descriptionHtml": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "linkedinText": {
                "type": "string"
              },
              "postalAddress": {
                "type": "string",
                "format": "nullable"
              },
              "parsed": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "regionCode": {
                    "type": "string",
                    "format": "nullable"
                  },
                  "country": {
                    "type": "string"
                  },
                  "countryFull": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "employmentType": {
            "type": "string"
          },
          "workplaceType": {
            "type": "string"
          },
          "workRemoteAllowed": {
            "type": "boolean"
          },
          "easyApplyUrl": {
            "type": "string"
          },
          "applicants": {
            "type": "integer",
            "format": "int32"
          },
          "companyName": {
            "type": "string"
          },
          "companyLogo": {
            "type": "string"
          },
          "companyLink": {
            "type": "string"
          },
          "salaryText": {
            "type": "string"
          },
          "salaryMin": {
            "type": "string"
          },
          "salaryMax": {
            "type": "string"
          },
          "salaryCurrency": {
            "type": "string"
          },
          "views": {
            "type": "integer",
            "format": "int32"
          },
          "expireAt": {
            "type": "string",
            "format": "date-time"
          },
          "new": {
            "type": "boolean"
          },
          "jobApplicationLimitReached": {
            "type": "boolean"
          },
          "applicantTrackingSystem": {
            "type": "string"
          }
        }
      },
      "JobShort": {
        "required": ["id"],
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "title": {
            "type": "string"
          },
          "postedDate": {
            "type": "string",
            "format": "date-time"
          },
          "companyName": {
            "type": "string"
          },
          "companyLink": {
            "type": "string"
          },
          "companyUniversalName": {
            "type": "string"
          },
          "location": {
            "type": "object",
            "properties": {
              "linkedinText": {
                "type": "string"
              },
              "parsed": {
                "type": "object",
                "properties": {
                  "text": {
                    "type": "string"
                  },
                  "countryCode": {
                    "type": "string"
                  },
                  "regionCode": {
                    "type": "string",
                    "format": "nullable"
                  },
                  "country": {
                    "type": "string"
                  },
                  "countryFull": {
                    "type": "string"
                  },
                  "state": {
                    "type": "string"
                  },
                  "city": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "easyApply": {
            "type": "boolean"
          }
        }
      },
      "Error": {
        "required": ["error", "message"],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    },
    "securitySchemes": {
      "ApiKeyAuthHeader": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key"
      }
    }
  }
}
